<div class ="container">

<h1>Hola World </h1>

<form action="/answer" data-turbo="false" method="get">
  <input type="text" name="questions" value="<%= params[:questions] %>" placeholder="Ask something">
  <input type="submit" value="Ask!">
</form>

</div>
